useDynLib(pdfoxide, .registration = TRUE, .fixes = "C_")
export(pdf_from_markdown, pdf_from_html, pdf_from_text, pdf_save, pdf_to_bytes)
export(pdf_open, pdf_open_with_password, pdf_open_from_bytes, pdf_close, pdf_page_count, pdf_version, pdf_is_encrypted)
export(pdf_has_structure_tree, pdf_extract_text, pdf_to_plain_text)
export(pdf_to_markdown, pdf_to_html, pdf_extract_structured_json, pdf_to_markdown_all)
export(pdf_to_html_all, pdf_to_plain_text_all, pdf_authenticate)
export(pdf_page, pdf_page_text, pdf_page_markdown, pdf_page_html, pdf_page_plain_text)
export(pdf_extract_chars, pdf_extract_words, pdf_extract_text_lines, pdf_extract_tables)
export(pdf_embedded_fonts, pdf_embedded_images, pdf_page_annotations, pdf_extract_paths)
export(pdf_search, pdf_search_all)
export(pdf_render_page, pdf_render_page_zoom, pdf_render_page_thumbnail)
export(pdf_rendered_image_save, pdf_rendered_image_close)
export(pdf_editor_open, pdf_editor_open_from_bytes, pdf_editor_close)
export(pdf_editor_page_count, pdf_editor_version, pdf_editor_is_modified, pdf_editor_source_path)
export(pdf_editor_get_producer, pdf_editor_set_producer)
export(pdf_editor_get_creation_date, pdf_editor_set_creation_date)
export(pdf_editor_delete_page, pdf_editor_move_page)
export(pdf_editor_rotate_page_by, pdf_editor_rotate_all_pages)
export(pdf_editor_get_page_rotation, pdf_editor_set_page_rotation, pdf_editor_crop_margins)
export(pdf_editor_get_page_crop_box, pdf_editor_set_page_crop_box)
export(pdf_editor_get_page_media_box, pdf_editor_set_page_media_box)
export(pdf_editor_apply_all_redactions, pdf_editor_apply_page_redactions)
export(pdf_editor_is_page_marked_for_redaction, pdf_editor_unmark_page_for_redaction)
export(pdf_editor_erase_region, pdf_editor_erase_regions, pdf_editor_clear_erase_regions)
export(pdf_editor_flatten_forms, pdf_editor_flatten_forms_on_page, pdf_editor_set_form_field_value)
export(pdf_editor_flatten_annotations, pdf_editor_flatten_all_annotations)
export(pdf_editor_flatten_warnings_count, pdf_editor_flatten_warning)
export(pdf_editor_is_page_marked_for_flatten, pdf_editor_unmark_page_for_flatten)
export(pdf_editor_merge_from, pdf_editor_merge_from_bytes, pdf_editor_convert_to_pdf_a)
export(pdf_editor_embed_file, pdf_editor_extract_pages_to_bytes)
export(pdf_editor_save, pdf_editor_save_to_bytes, pdf_editor_save_to_bytes_with_options)
export(pdf_editor_save_encrypted, pdf_editor_save_encrypted_to_bytes)
export(pdf_embedded_font_from_file, pdf_embedded_font_from_bytes, pdf_embedded_font_close)
export(pdf_builder_create, pdf_builder_close)
export(pdf_builder_set_title, pdf_builder_set_author, pdf_builder_set_subject)
export(pdf_builder_set_keywords, pdf_builder_set_creator, pdf_builder_on_open)
export(pdf_builder_language, pdf_builder_tagged_pdf_ua1, pdf_builder_role_map)
export(pdf_builder_register_embedded_font)
export(pdf_builder_page, pdf_builder_a4_page, pdf_builder_letter_page)
export(pdf_builder_build, pdf_builder_save, pdf_builder_save_encrypted)
export(pdf_builder_to_bytes_encrypted)
export(pdf_page_font, pdf_page_at, pdf_page_builder_text, pdf_page_heading)
export(pdf_page_paragraph, pdf_page_space, pdf_page_horizontal_rule)
export(pdf_page_link_url, pdf_page_link_page, pdf_page_link_named, pdf_page_link_javascript)
export(pdf_page_on_open, pdf_page_on_close)
export(pdf_page_field_keystroke, pdf_page_field_format, pdf_page_field_validate, pdf_page_field_calculate)
export(pdf_page_highlight, pdf_page_underline, pdf_page_strikeout, pdf_page_squiggly)
export(pdf_page_sticky_note, pdf_page_sticky_note_at)
export(pdf_page_watermark, pdf_page_watermark_confidential, pdf_page_watermark_draft)
export(pdf_page_stamp, pdf_page_freetext, pdf_page_footnote, pdf_page_columns)
export(pdf_page_inline, pdf_page_inline_bold, pdf_page_inline_italic, pdf_page_inline_color)
export(pdf_page_newline)
export(pdf_page_text_field, pdf_page_checkbox, pdf_page_combo_box, pdf_page_radio_group)
export(pdf_page_push_button, pdf_page_signature_field)
export(pdf_page_barcode_1d, pdf_page_barcode_qr)
export(pdf_page_image, pdf_page_image_with_alt, pdf_page_image_artifact)
export(pdf_page_rect, pdf_page_filled_rect, pdf_page_line)
export(pdf_page_stroke_rect, pdf_page_stroke_line)
export(pdf_page_stroke_rect_dashed, pdf_page_stroke_line_dashed)
export(pdf_page_text_in_rect, pdf_page_new_page_same_size, pdf_page_table)
export(pdf_page_streaming_table_begin, pdf_page_streaming_table_begin_v2)
export(pdf_page_streaming_table_set_batch_size)
export(pdf_page_streaming_table_pending_row_count, pdf_page_streaming_table_batch_count)
export(pdf_page_streaming_table_flush)
export(pdf_page_streaming_table_push_row, pdf_page_streaming_table_push_row_v2)
export(pdf_page_streaming_table_finish)
export(pdf_page_done, pdf_page_close)
export(pdf_set_log_level, pdf_get_log_level)
export(pdf_certificate_load_from_bytes, pdf_certificate_load_from_pem)
export(pdf_certificate_subject, pdf_certificate_issuer, pdf_certificate_serial)
export(pdf_certificate_validity, pdf_certificate_is_valid, pdf_certificate_close)
export(pdf_sign_bytes, pdf_sign_bytes_pades, pdf_sign_bytes_pades_opts)
export(pdf_signature_count, pdf_get_signature)
export(pdf_signature_signer_name, pdf_signature_signing_reason, pdf_signature_signing_location)
export(pdf_signature_signing_time, pdf_signature_certificate, pdf_signature_pades_level)
export(pdf_signature_has_timestamp, pdf_signature_timestamp, pdf_signature_add_timestamp)
export(pdf_signature_verify, pdf_signature_verify_detached, pdf_signature_close)
export(pdf_timestamp_parse, pdf_timestamp_token, pdf_timestamp_message_imprint)
export(pdf_timestamp_time, pdf_timestamp_serial, pdf_timestamp_tsa_name, pdf_timestamp_policy_oid)
export(pdf_timestamp_hash_algorithm, pdf_timestamp_verify, pdf_timestamp_close)
export(pdf_tsa_client_create, pdf_tsa_request_timestamp, pdf_tsa_request_timestamp_hash)
export(pdf_tsa_client_close)
export(pdf_get_dss, pdf_dss_cert_count, pdf_dss_crl_count, pdf_dss_ocsp_count, pdf_dss_vri_count)
export(pdf_dss_get_cert, pdf_dss_get_crl, pdf_dss_get_ocsp, pdf_dss_close)
export(pdf_validate_pdf_a, pdf_a_is_compliant, pdf_a_errors, pdf_a_warning_count, pdf_a_results_close)
export(pdf_validate_pdf_ua, pdf_ua_is_accessible, pdf_ua_errors, pdf_ua_warnings, pdf_ua_stats, pdf_ua_results_close)
export(pdf_validate_pdf_x, pdf_x_is_compliant, pdf_x_errors, pdf_x_results_close)
export(pdf_generate_qr_code, pdf_generate_barcode)
export(pdf_barcode_get_data, pdf_barcode_get_format, pdf_barcode_get_confidence)
export(pdf_barcode_get_image_png, pdf_barcode_get_svg, pdf_barcode_close)
export(pdf_editor_add_barcode_to_page)
export(pdf_ocr_engine_create, pdf_ocr_engine_close, pdf_ocr_page_needs_ocr, pdf_ocr_extract_text)
export(pdf_render_page_with_options, pdf_render_page_with_options_ex)
export(pdf_render_page_region, pdf_render_page_fit, pdf_render_page_raw)
export(pdf_create_renderer, pdf_renderer_close, pdf_estimate_render_time)
export(pdf_redaction_add, pdf_redaction_count, pdf_redaction_apply, pdf_redaction_scrub_metadata)
export(pdf_from_image, pdf_from_image_bytes, pdf_from_html_css, pdf_from_html_css_with_fonts, pdf_merge)
export(pdf_page_get_width, pdf_page_get_height, pdf_page_get_rotation, pdf_page_get_elements)
export(pdf_add_timestamp)
# PHASE-8: 100%-coverage closeout
export(pdf_open_from_docx_bytes, pdf_open_from_pptx_bytes, pdf_open_from_xlsx_bytes)
export(pdf_to_docx, pdf_to_pptx, pdf_to_xlsx)
export(pdf_extract_text_in_rect, pdf_extract_words_in_rect, pdf_extract_lines_in_rect)
export(pdf_extract_tables_in_rect, pdf_extract_images_in_rect)
export(pdf_extract_all_text, pdf_extract_text_auto, pdf_extract_page_auto)
export(pdf_classify_page, pdf_classify_document)
export(pdf_remove_headers, pdf_remove_footers, pdf_remove_artifacts)
export(pdf_erase_header, pdf_erase_footer, pdf_erase_artifacts)
export(pdf_get_form_fields, pdf_export_form_data_to_bytes, pdf_import_form_data)
export(pdf_form_import_from_file, pdf_editor_import_fdf_bytes, pdf_editor_import_xfdf_bytes)
export(pdf_get_outline, pdf_get_page_labels, pdf_get_xmp_metadata, pdf_get_source_bytes)
export(pdf_has_xfa, pdf_plan_split_by_bookmarks, pdf_get_page_count)
export(pdf_sign, pdf_verify_all_signatures, pdf_has_timestamp)
export(pdf_annotation_get_color, pdf_annotation_get_creation_date, pdf_annotation_get_modification_date)
export(pdf_annotation_is_hidden, pdf_annotation_is_marked_deleted, pdf_annotation_is_printable)
export(pdf_annotation_is_read_only, pdf_link_annotation_get_uri, pdf_text_annotation_get_icon_name)
export(pdf_highlight_annotation_quad_points_count, pdf_highlight_annotation_quad_point)
export(pdf_annotations_to_json)
export(pdf_font_get_size, pdf_fonts_to_json, pdf_elements_to_json, pdf_search_results_to_json)
export(pdf_crypto_active_provider, pdf_crypto_fips_available, pdf_crypto_use_fips)
export(pdf_crypto_set_policy, pdf_crypto_policy, pdf_crypto_inventory, pdf_crypto_cbom)
export(pdf_model_manifest, pdf_prefetch_available, pdf_prefetch_models)
export(pdf_set_max_ops_per_stream, pdf_set_preserve_unmapped_glyphs, pdf_convert_to_pdf_a)
